<div class="w3-card-2 w3-padding-large">
  <h1>Welcome to Smile, <%= @user.name  %></h1>
  <p>Congratulations on authenticating yourself. We have this info about you:</p>

  <div class="w3-container">
    <h2>Your master image</h2>
    <img src="http://i.imgur.com/D9x5NVG.jpg" class="w3-round w3-card-2" alt="Norway">

    <p><b>Your name: </b><%= @user.name  %></p>
    <p><b>Your email: </b><%= @user.email  %></p>
  </div>
</div>
