<div class="w3-card-2 w3-padding-large">
  <h1>Authenticate</h1>
  <p>It doesn't look like we have logged you in. Please authenticate yourself below:</p>

  <div class="w3-center">
    <img src="http://i.imgur.com/D9x5NVG.jpg" class="w3-round w3-card-2" alt="Norway">
    <div class="w3-container">
      <p>
        <a href="#">Click here to authenticate using Smile&trade;</a>
        <br>
        (Don't worry! If we can't recognize you, we will help you get signed up)
      </p>
      <p>
        <a href="#" class="w3-small">Manual authentication</a>
      </p>
    </div>
  </div>
</div>
